nav {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 0 20px;
    padding: 0;
}
h4.nav-title{
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    font-family: Verdana, sans-serif;
}
.nav{
    position: relative;
    display: block;
    float: left;
}
.nav > li {
    position: relative;
    display: inline-block;
    list-style: none;
}
.nav> li > a {
    line-height: 20px;
    text-decoration: none;
    padding: 15px;
    display: block;
}


.navbar-default {
    background-color: #f8f8f8;
    border-color: #7bb7fa;
}
.navbar-default .nav> li > a {
    color: #7bb7fa;
}
.navbar-default .nav> li > a:hover,
.navbar-default .nav> li.active > a {
    background-color: #7bb7fa;
    color: white;
}