*{
    margin: 0;
    padding: 0;
}
.cf::before, .cf::after{
    content: " ";
    display: table;
}
.cf::after{
    clear: both;
}
body{
    font-family: Verdana, sans-serif;
}

.container{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 20px 0;
    font-family: Voltaire, sans-serif;
    color: #0ac2d2;
}
h1{
    font-size: 48px;
    line-height: 50px;
}
h2{
    font-size: 30px;
    line-height: 32px;
}
h3{
    font-size: 28px;
    line-height: 30px;
}
h4{
    font-size: 24px;
    line-height: 32px;
}
h5{
    font-size: 20px;
    line-height: 22px;
}
h6{
    font-size: 20px;
    line-height: 22px;
}


a.view-theme{
    font-size: 30px;
    line-height: 32px;
    font-family: Voltaire, sans-serif;
    text-decoration: none;
    display: block;
    padding-top: 30px;
}
a.view-theme{
    color: #000;
}
a.view-theme:hover{
    text-decoration: underline;
}
.top-heights{
    margin-top: 30px;
}


.example-component{
    margin: 20px 0;
}
.example-code{
    border-left: 3px solid #0ac2d2;
    color: #0a0a0a;
    background-color: #f4f5f6;
    margin: 20px 0;
    padding: 20px;
}
.example-code li{
    list-style: none;
}
.one-tab{padding-left: 20px;}
.two-tab{padding-left: 40px;}
.three-tab{padding-left: 60px;}

.hl-red{
    color: #fd6a62;
}
.hl-green{
    color: #40c592;
}
.hl-blue {
    color: #7bb7fa;
}
.hl-grey {
    color: grey;
}
.comment {
    display: block;
    margin: 20px 0 0;
}
li:first-child .comment {
    margin: 0;
}